@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
html {
    background-color: rgb(142, 229, 255);
    font-family: 'Black Han Sans', sans-serif;
    top: 0;
    margin: 0;
}
.clock {
    color: white;
    text-align: center;
    font-size: 160px;
}
/*CSS 반응형*/
@media(max-width:800px) 
{
    .clock {
        color: white;
        text-align: center;
        font-size: 75px;
    }

}